.span3.picture{:id => "picture_#{picture.id}"}
  = image_tag(picture.image(:thumb), :class => 'top-aligned', :id => "picture_id")
  = link_to('', admin_picture_path(picture), :class => 'icon-remove', :remote => true, :method => :delete)
