= render_navigation(:context => :admin)
.pull-right.nav-collapse
  %ul.nav
    %li= link_to(t('public_website'), root_path)
    %li= link_to(t("devise.sessions.sign_out"), destroy_user_session_path, :method => :delete)