// Place all the styles related to the admin/news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin.container{
  article {
    margin-top: 20px;
    h1 {
      margin-bottom: 0px;
      color: #3C0 !important;
      font-size: 12px !important;
      small {
        font-size: 12px !important;
      }
    }
  }
}
