@import "bootstrap/variables";

$navbarBackground: $white;
$navbarBackgroundHighlight: $white;
$navbarText: $gray;
$navbarLinkColor: $grayDarker;
$navbarLinkColorHover: $gray;

@import "bootstrap";

@import 'bootstrap/reset';

body {
  margin-top: 48px;
}

@import 'bootstrap-responsive';


.navbar {
  .brand {
    color: $gray
  }
  .brand:hover {
    color: $grayDarker;
    text-decoration: none;
  }
}

.navbar-inner {
  $shadow: 0 0px 1px rgba(0,0,0,.25), inset 0 0px 0 rgba(0,0,0,.1);
  @include box-shadow($shadow);
}

.top-aligned {
  vertical-align: top;
}

.item {
  margin-top: 20px;
}

#myCarousel {
  height: 550px;
  padding-left: 80px;
}

.carousel-caption {
  position: relative;
  background: none;
  padding-left: 0px;
  div {
    margin-top: 10px
  }
}

.simple_form div.boolean label.boolean {
  float: left;
  margin-right: 20px;
}

.clear {
  clear: both;
}

h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.center {
  text-align: center;
}

a {
  color: #222;
}

a:hover {
  color: #999;
}

